{% load i18n %}

{% if payment.state == "pending" %}
    <p>{% blocktrans trimmed %}
        Please complete your payment with MultiSafepay.
    {% endblocktrans %}</p>
{% else %}
    <p>{% blocktrans trimmed %}
        The payment transaction could not be completed for the following reason:
    {% endblocktrans %}
        <br/>
        {% if payment_info and payment_info.ErrorMessage %}
            {{ payment_info.ErrorMessage }}
        {% else %}
            {% trans "Unknown reason" %}
        {% endif %}
    </p>
{% endif %}
